
body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #c0c0c0;
}

#sidebar {
    background-color: #333;
    color: white;
    height: 100vh;
    padding-top: 20px;
}

#sidebar .nav-link {
    color: white;
}

#sidebar .nav-link.active {
    background-color: #444;
}

#content {
    padding: 20px;
}
